<template>
    <div class="content-block">
      <DxButton class="buttonGetMessages" text="Обновить список резюме" type="default" @click="getMessages"></DxButton>
  
      <DxDataGrid class="dx-card wide-card" :data-source="resumesList" :focused-row-index="0" :show-borders="false"
        :column-auto-width="true" :column-hiding-enabled="true" @row-removed="RowRemoved" @row-click="viewRow">
        <DxEditing :allow-deleting="true" />
        <DxFilterRow :visible="false" />
        <DxSearchPanel :visible="true" width="300" placeholder="Поиск" />
        <DxColumn data-field="id" :allow-editing="false" caption="Id" sortOrder="asc" width="100" />
        <DxColumn data-field="name" caption="Имя" />
        <DxColumn data-field="surname" caption="Фамилия" />
        <DxColumn data-field="senderEmail" caption="Почта отправитель" />
        <DxColumn data-field="vacancy.position" caption="Название вакансии" />
        <DxColumn data-field="company.name" caption="Название компании" />
        <DxSelection show-check-boxes-mode="always" mode="multiple" />
        <DxPaging :page-size="10" />
        <DxPager :show-page-size-selector="true" :show-info="true" />
      </DxDataGrid>
    </div>
  </template>
  
  <script>
  import {
    DxDataGrid,
    DxPager,
    DxPaging,
    DxSelection,
    DxColumn,
    DxSearchPanel,
    DxFilterRow,
    DxEditing
  } from "devextreme-vue/data-grid";
  import notify from "devextreme/ui/notify";
  import { useStore } from "vuex";
  import { onMounted, computed } from "vue";
  import DxButton from 'devextreme-vue/button';
  import { useRouter } from "vue-router";
  
  export default {
    components: {
      DxDataGrid,
      DxPager,
      DxPaging,
      DxSelection,
      DxColumn,
      DxSearchPanel,
      DxFilterRow,
      DxEditing,
      DxButton
    },
    setup() {
      const store = useStore();
      const router = useRouter();
  
      const resumesList = computed(() => {
        return store.getters["resume/resumes"];
      });

      const user = computed(() => {
      return store.getters["auth/getUser"];
      });
  
      onMounted(async () => {
        await store.dispatch("resume/getAllResumes").catch((error) => {
          notify(error.data.message, "error", 2000);
        });
      });
  
      async function RowRemoved(e) {
        await store
          .dispatch("resume/deleteResume", e.data.id)
          .catch((error) => {
            notify(error.data, "error", 2000);
          });
      }
  
      function viewRow(e) {
        router.push({
          path: "/resume/view/" + e.data.id
        });
      }

      async function getMessages(){
        await store.dispatch("resume/getNewMessages", user.value.companyId);
      }
  
      return {
        resumesList,
        RowRemoved,
        viewRow,
        user,
        getMessages,
      };
    }
  };
  </script>
  <style scoped>
  </style>