<template>
    <div id="form-demo">
      <div class="widget-container">
        <form action="your-action" @submit="onSubmit">
          <DxForm v-model:form-data="formData" :read-only="!editMode" :show-colon-after-label="true"
            :show-validation-summary="false" validation-group="customerData" enctype="multipart/form-data">
            <DxGroupItem caption="Информация о резюме">
              <DxSimpleItem data-field="name">
                <DxLabel text="Имя" />
                <DxRequiredRule message="Необходимо ввести имя" />
              </DxSimpleItem>
              <DxSimpleItem data-field="surname">
                <DxLabel text="Фамилия" />
                <DxRequiredRule message="Необходимо ввести фамилию" />
              </DxSimpleItem>
              <DxSimpleItem data-field="senderEmail">
                <DxLabel text="Почта отправителя" />
                <DxRequiredRule message="Необходимо ввести фамилию" />
              </DxSimpleItem>
              <DxSimpleItem data-field="vacancyId">
              <DxLabel text="Выберите вакансию" />
              <DxRequiredRule message="Необходимо выбрать вакансию" />
              <DxSelectBox :items="vacanciesList" value-expr="id" :display-expr="getDisplayExpr" :search-enabled="true"
                :search-expr="['id', 'position']" :max-displayed-tags="5" v-model:value="formData.vacancyId"
                :read-only="!editMode" />
              </DxSimpleItem>
            </DxGroupItem>
            <DxButtonItem :button-options="buttonOptions" horizontal-alignment="left" v-model:visible="createButton" />
          </DxForm>
          <DxButton v-model:text="textFile" icon="file" type="success" @click="ShowMessageFile"
            width="100%" v-model:visible="editButton" />
          <DxButton class="editButton" v-model:text="textEdit" icon="edit" type="success" @click="StartUpdateResume"
            width="100%" v-model:visible="editButton" />
          <DxButton class="saveButton" text="Сохранить" v-model:disabled="buttonDisabled" type="success" icon="save"
            @click="UpdateResume" width="100%" v-model:visible="editButton" />
          <DxButton class="add-user" text="Назад" icon="revert" type="default" @click="cancelButton($event)"
            width="100%" />
        </form>
      </div>
    </div>
  </template>
  <script>
  import DxForm, {
    DxGroupItem,
    DxSimpleItem,
    DxButtonItem,
    DxLabel,
    DxRequiredRule,
  } from 'devextreme-vue/form';
  import notify from 'devextreme/ui/notify';
  import { ref, onMounted, computed } from 'vue';
  import { useStore } from "vuex";
  import { DxSelectBox } from 'devextreme-vue/select-box';
  import { useRoute } from "vue-router";
  import { DxButton } from 'devextreme-vue/button'
    
  export default {
    components: {
      DxGroupItem,
      DxSimpleItem,
      DxButtonItem,
      DxLabel,
      DxRequiredRule,
      DxForm,
      DxSelectBox,
      DxButton,
    },
    setup() {
      const store = useStore();
      const route = useRoute();
      const id = ref(route.params.id);
      const editMode = ref(false);
      const createButton = ref(false);
      const editButton = ref(false);
      const buttonDisabled = ref(true);
      const textEdit = ref("Редактировать");
      const textFile = ref("Ознакомиться с файлом");

      const formData = ref({});
      const formDataInitial = computed(() => {
        return store.getters["resume/resume"];
      });

      const vacanciesList = computed(() => {
      return store.getters["vacancy/vacancies"];
    });
  
      async function onSubmit() {
        const result = await store.dispatch('resume/createNewResume', formData.value);
        if (!result.isOk) {
          notify(result.message, "error", 2000);
        } else {
          notify("Резюме создано успешно", "success", 2000);
          this.$router.go(-1);
        }
      }
  
      onMounted(async () => {
        if (route.name == "createResume") {
          createButton.value = true;
          editMode.value = true;
        }
        else {
          await store.dispatch("resume/getResume", id.value);
          formData.value = { ...formDataInitial.value };
          editButton.value = true;
        }
        await store.dispatch("vacancy/getAllVacancies").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      });
  
      async function StartUpdateResume() {
        if (editMode.value == true) {
          editMode.value = false;
          buttonDisabled.value = true;
          textEdit.value = "Редактировать";
          formData.value = { ...formDataInitial.value };
        }
        else {
          editMode.value = true;
          buttonDisabled.value = false;
          textEdit.value = "Отменить";
        }
      }
  
      async function UpdateResume() {
        await store.dispatch("resume/updateResume", formData.value);
        formData.value = { ...formDataInitial.value };
        editMode.value = false;
        buttonDisabled.value = true;
        textEdit.value = "Редактировать";
      }

      function ShowMessageFile()
      {
        if (formDataInitial.value.fileName.endsWith('pdf'))
        {
          var file = formDataInitial.value.fileResume;
          const result = "data:application/pdf;base64," + file;
          var win = window.open();
          win.document.write('<iframe src="' + result + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
        }
        else
        {
          let result = 'data:application/vnd.openxmlformats-officedocument.wordprocessingml.document;base64,' + formDataInitial.value.fileResume;
          window.location = result;
        }
      }
  
      const buttonOptions = {
        text: 'Создать',
        type: 'success',
        useSubmitBehavior: true,
        icon: "add",
        width: "100%"
      }
  
      return {
        formData,
        onSubmit,
        buttonOptions,
        editMode,
        createButton,
        editButton,
        buttonDisabled,
        textEdit,
        StartUpdateResume,
        UpdateResume,
        vacanciesList,
        ShowMessageFile,
        textFile,
      };
    },
    methods: {
      cancelButton() {
        this.$router.go(-1);
      },
      getDisplayExpr(item) {
      return item && item.id + ' ' + item.position;
    },
    },
  };
  </script>
  
  <style scoped>
  form {
    margin: 10px;
  }
  
  .dx-field-value {
    width: 12px !important;
    margin-right: 5px;
  }
  
  .dx-field {
    margin: 0 !important;
  }
  
  .dx-fieldset {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .widget-container {
    margin: auto;
    width: 600px;
  }
  
  #form-demo {
    display: flex;
  }
  
  .editButton {
    margin-bottom: 10px;
    margin-top: 26px;
  }
  
  .saveButton {
    margin-bottom: 10px;
  }
  </style>