﻿<template>
  <div id="form-demo">
    <div class="widget-container">
      <form action="your-action" @submit="onSubmit">
        <DxForm :form-data="formData" :read-only="!editMode" :show-colon-after-label="true"
          :show-validation-summary="false" validation-group="customerData">

          <DxSimpleItem data-field="position">
            <DxLabel text="Позиция" />
            <DxRequiredRule message="Необходимо ввести название позиции" />
          </DxSimpleItem>

          <DxSimpleItem data-field="cityId">
            <DxLabel text="Выберите город" />
            <DxRequiredRule message="Необходимо выбрать город" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="citiesList"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.cityId" />
          </DxSimpleItem>          

          <DxSimpleItem data-field="departmentId">
            <DxLabel text="Выберите Отдел" />
            <DxRequiredRule message="Необходимо выбрать отдел" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="departmentsList"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.departmentId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="divisionId">
            <DxLabel text="Выберите Департамент" />
            <DxRequiredRule message="Необходимо выбрать дивизион" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="divisionsList"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.divisionId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="positionDirectManagerId">
            <DxLabel text="Выберите непосредственного руководителя" />
            <DxRequiredRule message="Необходимо выбрать непосредственного руководителя" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="managersList"
              :hide-selected-items="true" :displayExpr="getFIO" valueExpr="id" v-model:value="formData.positionDirectManagerId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="managerOfTheManagerId">
            <DxLabel text="Выберите руководителя руководителя" />
            <DxRequiredRule message="Необходимо выбрать руководителя руководителя" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="managersList"
              :hide-selected-items="true" :displayExpr="getFIO" valueExpr="id" v-model:value="formData.managerOfTheManagerId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="laborContract">
            <DxLabel text="Выберите вид трудового договора" />
            <DxRequiredRule message="Необходимо выбрать вид трудового договора" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="laborContracts"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.laborContract" />
          </DxSimpleItem>

          <DxSimpleItem data-field="openReason">
            <DxLabel text="Выберите причину открытия вакансии" />
            <DxRequiredRule message="Необходимо выбрать причину открытия вакансии" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="openReasons"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.openReason" />
          </DxSimpleItem>

          <DxSimpleItem data-field="workingСonditions">
            <DxLabel text="Условия работы" />
            <DxRequiredRule message="Необходимо выбрать Условия работы" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="workingСonditions"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.workingСonditions" />
          </DxSimpleItem>

          <DxSimpleItem data-field="countOfEmployees">
            <DxLabel text="Количество подчиненных" />
            <DxNumberBox v-model:value="formData.countOfEmployees" :read-only="!editMode"/>
            <DxRequiredRule message="Необходимо заполнить поле" />
          </DxSimpleItem>

          <DxSimpleItem data-field="positionMission">
            <DxLabel text="Миссия должности" />
            <DxRequiredRule message="Необходимо указать миссию должности" />
          </DxSimpleItem>

          <DxSimpleItem data-field="responsibilities">
            <DxLabel text="Обязанности" />
            <DxRequiredRule message="Необходимо ввести обязанности" />
          </DxSimpleItem>          

          <DxSimpleItem data-field="expectedResults">
            <DxLabel text="Ожидаемые результаты" />
            <DxRequiredRule message="Необходимо перечислисть Ожидаемые результаты" />
          </DxSimpleItem>          

          <DxSimpleItem data-field="kpi">
            <DxLabel text="KPI" />            
          </DxSimpleItem>       

          <DxSimpleItem data-field="careerOpportunities">
            <DxLabel text="Возможности карьерного роста" />
            <DxRequiredRule message="Необходимо заполнить поле" />
          </DxSimpleItem>

          <DxSimpleItem data-field="commentCareerOpportunities">
            <DxLabel text="Комментарий к возможности карьерного роста" />            
          </DxSimpleItem>

          <DxSimpleItem data-field="workExperience">
            <DxLabel text="Релевантный опыт работы" />
            <DxRequiredRule message="Необходимо выбрать релевантный опыт работы" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="workExperiences"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.workExperience" />
          </DxSimpleItem>

          <DxSimpleItem data-field="education">
            <DxLabel text="Выберите образование" />
            <DxRequiredRule message="Необходимо выбрать образование" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="educations"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.education" />
          </DxSimpleItem>

          <DxSimpleItem data-field="englishProficiency">
            <DxLabel text="Выберите уровень английского языка" />
            <DxRequiredRule message="Необходимо выбрать уровень английского языка" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="englishProficiencies"
              :hide-selected-items="true" displayExpr="name" valueExpr="id"
              v-model:value="formData.englishProficiency" />
          </DxSimpleItem>

          <DxSimpleItem data-field="knowledgeIds">
            <DxLabel text="Профессиональные знания" />
            <DxRequiredRule message="Необходимо заполнить поле" />
            <DxTagBox :items="knowledgesList" value-expr="id" display-expr="name" :search-enabled="true"
              :max-displayed-tags="5" v-model:value="formData.knowledgeIds" :read-only="!editMode" />
          </DxSimpleItem>

          <DxSimpleItem data-field="skillIds">
            <DxLabel text="Компетенции" />
            <DxRequiredRule message="Необходимо указать KPI" />
            <DxTagBox :items="skillsList" value-expr="id" display-expr="name" :search-enabled="true"
              :max-displayed-tags="5" v-model:value="formData.skillIds" :read-only="!editMode" />
          </DxSimpleItem>
          
          <DxSimpleItem data-field="abilityIds">
            <DxLabel text="Способности" />
            <DxRequiredRule message="Необходимо указать KPI" />
            <DxTagBox :items="abilitiesList" value-expr="id" display-expr="name" :search-enabled="true"
              :max-displayed-tags="5" v-model:value="formData.abilityIds" :read-only="!editMode" />
          </DxSimpleItem>

          <DxSimpleItem data-field="qualityIds">
            <DxLabel text="Личные характеристики" />
            <DxRequiredRule message="Необходимо указать KPI" />
            <DxTagBox :items="qualitiesList" value-expr="id" display-expr="name" :search-enabled="true"
              :max-displayed-tags="5" v-model:value="formData.qualityIds" :read-only="!editMode" />
          </DxSimpleItem>

          <DxSimpleItem data-field="requirements">
            <DxLabel text="Требования к кандидату" />
            <DxRequiredRule message="Необходимо заполнить поле" />
          </DxSimpleItem>

          <DxSimpleItem data-field="salary">
            <DxLabel text="Зарплата" />
            <DxNumberBox v-model:value="formData.salary" :read-only="!editMode"/>
            <DxRequiredRule message="Необходимо ввести зарплату" />
          </DxSimpleItem>

          <DxSimpleItem data-field="benefitIds">
            <DxLabel text="Выберите льготы" />
            <DxRequiredRule message="Необходимо указать KPI" />
            <DxTagBox :items="benefitsList" value-expr="id" display-expr="name" :search-enabled="true"
              :max-displayed-tags="5" v-model:value="formData.benefitIds" :read-only="!editMode" />
          </DxSimpleItem>  

          <DxButtonItem :button-options="buttonOptions" horizontal-alignment="left" v-model:visible="createButton" />
        </DxForm>
        <DxButton class="editButton" v-model:text="textEdit" icon="edit" type="success" @click="startUpdateVacancy"
          width="100%" v-model:visible="editButton" />
        <DxButton class="saveButton" text="Сохранить" v-model:disabled="buttonDisabled" type="success" icon="save"
          @click="updateVacancy" width="100%" v-model:visible="editButton" />
        <DxButton class="add-application" text="Назад" icon="revert" type="default" @click="cancelButton($event)"
          width="100%" />
      </form>
    </div>
  </div>
</template>
<script>
import DxForm, {
  DxSimpleItem,
  DxButtonItem,
  DxLabel,
  DxRequiredRule,
} from 'devextreme-vue/form';
import notify from 'devextreme/ui/notify';
import { ref, onMounted, computed } from 'vue';
import { useStore } from "vuex";
import { DxTagBox } from 'devextreme-vue/tag-box';
import { DxSelectBox } from 'devextreme-vue/select-box';
import { useRoute } from "vue-router";
import { DxButton } from 'devextreme-vue/button'
import { DxNumberBox } from 'devextreme-vue/number-box';

const sendRequest = function (value) {
  const validEmail = 'test@dx-email.com';
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve(value === validEmail);
    }, 1000);
  });
};

export default {
  components: {
    DxSimpleItem,
    DxButtonItem,
    DxLabel,
    DxRequiredRule,
    DxForm,
    DxTagBox,
    DxSelectBox,
    DxButton,
    DxNumberBox
  },
  setup() {
    const store = useStore();
    const route = useRoute();
    const id = ref(route.params.id);
    const editMode = ref(false);
    const createButton = ref(false);
    const editButton = ref(false);
    const buttonDisabled = ref(true);
    const textEdit = ref("Редактировать");

    const educations = [
      { name: "Релевантное высшее", id: 1 },
      { name: "Высшее", id: 2 },
      { name: "Среднее-специальное", id: 3 },
      { name: "Не имеет значения", id: 4 }];

    const openReasons = [
      { name: "Замена сотрудника", id: 1 },
      { name: "Замена декретницы", id: 2 },
      { name: "Новая позиция", id: 3 }];

    const laborContracts = [
      { name: "Постоянный", id: 1 },
      { name: "Временный", id: 2 }];

    const englishProficiencies = [
      { name: "Элементарный", id: 1 },
      { name: "Средний", id: 2 },
      { name: "Выше среднего", id: 3 },
      { name: "Продвинутый", id: 4 },
      { name: "В совершенстве", id: 5 }];
      
    const workingСonditions = [
      { name: "5 -дневная рабочая неделя", id: 1 },
      { name: "6-дневная рабочая неделя", id: 2 },
      { name: "Сменная работа", id: 3 },
      { name: "Свободный график", id: 4 },
      { name: "Вахтовый метод работы", id: 5 }];

    const workExperiences = [
      { name: "Без опыта", id: 1 },
      { name: "От 1 года", id: 2 },
      { name: "От 1 до 2 года", id: 3 },
      { name: "От 2 до 3 лет", id: 4 },
      { name: "От 3 до 5 лет", id: 5 },
      { name: "От 5 лет", id: 6 }];

    const formData = ref({});
    const formDataInitial = computed(() => {
      return store.getters["vacancy/vacancy"];
    });

    async function onSubmit() {
      try {
        formData.value.companyId = user.value.companyId;
        await store.dispatch('vacancy/createVacancy', formData.value);
        console.log(formData.value);
        notify("Вакансия создана успешно", "success", 2000);
      } catch (error) {
        notify(error.message, "error", 2000);
      }
    }

    onMounted(async () => {
      if (route.name == "createVacancy") {
        createButton.value = true;
        editMode.value = true;
      }
      else {        
        await store.dispatch("vacancy/getVacancy", id.value);
        formData.value = { ...formDataInitial.value };
        formData.value.knowledgeIds = formData.value.knowledgeIds.map(u => u.id);  
        formData.value.skillIds = formData.value.skillIds.map(u => u.id);
        formData.value.abilityIds = formData.value.abilityIds.map(u => u.id);
        formData.value.qualityIds = formData.value.qualityIds.map(u => u.id); 
        formData.value.benefitIds = formData.value.benefitIds.map(u => u.id);      
        editButton.value = true;
      }

      await store.dispatch("city/getCitiesByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("division/getDivisionsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("department/getDepartmentsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("user/getUsersByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });      
      await store.dispatch("knowledge/getKnowledgesByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("skill/getSkillsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("ability/getAbilitiesByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("quality/getQualitiesByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });      
      await store.dispatch("benefit/getBenefitsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    });

    async function startUpdateVacancy() {
      if (editMode.value == true) {
        editMode.value = false;
        buttonDisabled.value = true;
        textEdit.value = "Редактировать";
        formData.value = { ...formDataInitial.value };
      }
      else {
        editMode.value = true;
        buttonDisabled.value = false;
        textEdit.value = "Отменить";
      }
    }

    async function updateVacancy() {
      await store.dispatch("vacancy/updateVacancy", formData.value);
      formData.value = { ...formDataInitial.value };     
      formData.value.knowledgeIds = formData.value.knowledgeIds.map(u => u.id);  
      formData.value.skillIds = formData.value.skillIds.map(u => u.id);
      formData.value.abilityIds = formData.value.abilityIds.map(u => u.id);
      formData.value.qualityIds = formData.value.qualityIds.map(u => u.id);     
      formData.value.benefitIds = formData.value.benefitIds.map(u => u.id);
      editMode.value = false;
      buttonDisabled.value = true;
      textEdit.value = "Редактировать";
    }

    const user = computed(() => {
      return store.getters["auth/getUser"];
    });

    const citiesList = computed(() => {
      return store.getters["city/citiesByCompanyId"];
    });

    const divisionsList = computed(() => {
      return store.getters["division/divisionsByCompanyId"];
    });

    const departmentsList = computed(() => {
      return store.getters["department/departmentsByCompanyId"];
    });

    const managersList = computed(() => {
      return store.getters["user/usersByCompanyId"];
    })
    
    const knowledgesList = computed(() => {
      return store.getters["knowledge/knowledgesByCompanyId"];
    });

    const skillsList = computed(() => {
      return store.getters["skill/skillsByCompanyId"];
    });

    const abilitiesList = computed(() => {
      return store.getters["ability/abilitiesByCompanyId"];
    });

    const qualitiesList = computed(() => {
      return store.getters["quality/qualitiesByCompanyId"];
    });  

    const benefitsList = computed(() => {
      return store.getters["benefit/benefitsByCompanyId"];
    });

    const buttonOptions = {
      text: 'Создать',
      type: 'success',
      useSubmitBehavior: true,
      icon: "add",
      width: "100%"
    }
    const hideEvent = { name: 'mouseout', delay: 2000 }
    let isTooltipVisible = ref(false);
    let maxItems = 1;

    return {
      formData,
      onSubmit,
      buttonOptions,
      hideEvent,
      isTooltipVisible,
      maxItems,
      editMode,
      createButton,
      editButton,
      buttonDisabled,
      textEdit,
      citiesList,
      divisionsList,
      departmentsList,
      managersList,
      benefitsList,
      knowledgesList,
      skillsList,
      abilitiesList,
      qualitiesList,
      startUpdateVacancy,
      updateVacancy,
      educations,      
      openReasons,
      laborContracts,
      englishProficiencies,
      workingСonditions,
      workExperiences
    };
  },
  methods: {
    asyncValidation(params) {
      return sendRequest(params.value);
    },
    getFIO(item) {
      return item && item.firstName + " " + item.secondName;
    },
    cancelButton() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
form {
  margin: 10px;
}

.dx-field-value {
  width: 12px !important;
  margin-right: 5px;
}

.dx-field {
  margin: 0 !important;
}

.dx-fieldset {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.widget-container {
  margin: auto;
  width: 600px;
}

#form-demo {
  display: flex;
}

.editButton {
  margin-bottom: 10px;
  margin-top: 26px;
}

.saveButton {
  margin-bottom: 10px;
}
</style>
