﻿<template>

  <div class="content-block">
    <DxButton class="add-user" text="Добавить вакансию" type="default" @click="onClick($event)"></DxButton>

    <DxDataGrid
      class="dx-card wide-card"
      :data-source="vacanciesList"
      :focused-row-index="0"
      :show-borders="false"
      :column-auto-width="true"
      :column-hiding-enabled="true"
      @row-removed="RowRemoved"
      @row-click="detailView"
    >
       <DxEditing
            :allow-deleting="true">
       <DxPopup
          :show-title="true"
          :width="500"
          :height="500"
          title="Роль"
        />
       </DxEditing>
      <DxFilterRow :visible="false" />
      <DxSearchPanel :visible="true" width="300" placeholder="Поиск"/>

      <DxColumn
        data-field="id"
        :allow-editing="false"
        caption="Id"
        sortOrder="asc"
      />
      <DxColumn data-field="position" caption="Должность" />    
      <DxColumn data-field="city.name" caption="Город" />     
      <DxColumn data-field="department.name" caption="Отдел" />     
      <DxColumn data-field="salary" caption="Зарплата" />     
      <DxColumn data-field="this" :calculate-cell-value="positionDirectManagerFullName" caption="Непосредственный руководитель" />     
      <DxColumn data-field="positionMission" caption="Миссия должности" />   
      <DxSelection show-check-boxes-mode="always" mode="multiple" />
      <DxPaging :page-size="10" />
      <DxPager :show-page-size-selector="true" :show-info="true" />
    </DxDataGrid>
  </div>
  
</template>

<script>
import {
  DxDataGrid,
  DxPager,
  DxPaging,
  DxSelection,
  DxColumn,
  DxSearchPanel,
  DxFilterRow,
  DxEditing,
  DxPopup
} from "devextreme-vue/data-grid";
import notify from "devextreme/ui/notify";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { onMounted, computed } from "vue";
import DxButton from 'devextreme-vue/button';


export default {
  components: {
    DxDataGrid,
    DxPager,
    DxPaging,
    DxSelection,
    DxColumn,
    DxSearchPanel,
    DxFilterRow,
    DxEditing,
    DxPopup,
    DxButton
  },
  setup() 
  {
    const store = useStore();
    const router = useRouter();

    const vacanciesList = computed(() => {
      return store.getters["vacancy/vacancies"];
    });
   
    onMounted(async () => {
      await store.dispatch("vacancy/getAllVacancies").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    }); 

    async function RowRemoved(e) {
      await store
        .dispatch("vacancy/deleteVacancy", e.data.id)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

    function positionDirectManagerFullName(vacancy) {
        if (vacancy.positionDirectManager)
          return (vacancy.positionDirectManager.secondName || "") + " " + (vacancy.positionDirectManager.firstName || "");
        else
        return ""
    }

    function detailView(e) {
      router.push({
        path: "/vacancy/view/" + e.data.id,
      });
    }
      
    return {
      vacanciesList,
      RowRemoved,
      detailView,
      positionDirectManagerFullName
    };
  },
  methods: {
    onClick() {
      this.$router.push("/vacancy/create/");
    },
    capitalize(text) {
      return text.charAt(0).toUpperCase() + text.slice(1);
    },
  }
};
</script>
