<template>
  <div class="content-block">
    <DxDataGrid
      class="dx-card wide-card"
      :data-source="rolesList"
      :focused-row-index="0"
      :show-borders="false"
      :column-auto-width="true"
      :column-hiding-enabled="true"
      @row-removed="RowRemoved"
      @row-updated="RowUpdate"
      @row-inserted="RowInserted"
    >
       <DxEditing
            :allow-updating="true"
            :allow-adding="true"
            :allow-deleting="true"
            mode="popup" >
       <DxPopup
          :show-title="true"
          :width="500"
          :height="500"
          title="Роль"
        />
        <DxForm>
          <DxItem
            :col-count="2"
            :col-span="2"
            item-type="group"
          >
            <DxItem data-field="name" :col-span="2">
              <DxRequiredRule message="Необходимо ввести название роли" />
            </DxItem>                  
          </DxItem>
        </DxForm>
       </DxEditing>
      <DxFilterRow :visible="false" />
      <DxSearchPanel :visible="true" width="300" placeholder="Поиск"/>
      <DxColumn
        data-field="id"
        :allow-editing="false"
        caption="Id"
        sortOrder="asc"
        width="100"
      />
      
      <DxColumn data-field="name" caption="Название роли" />      
      <DxSelection show-check-boxes-mode="always" mode="multiple" />
      <DxPaging :page-size="10" />
      <DxPager :show-page-size-selector="true" :show-info="true" />
    </DxDataGrid>
  </div>
</template>

<script>
import {
  DxDataGrid,
  DxPager,
  DxPaging,
  DxSelection,
  DxColumn,
  DxSearchPanel,
  DxFilterRow,
  DxEditing,
  DxPopup,
  DxForm,
  DxItem,
  DxRequiredRule
} from "devextreme-vue/data-grid";
import notify from "devextreme/ui/notify";
import { useStore } from "vuex";
import { onMounted, computed } from "vue";


export default {
  components: {
    DxDataGrid,
    DxPager,
    DxPaging,
    DxSelection,
    DxColumn,
    DxSearchPanel,
    DxFilterRow,
    DxEditing,
    DxPopup,
    DxForm,
    DxItem,
    DxRequiredRule
  },
  setup() {
    const store = useStore();
  

    const rolesList = computed(() => {
      return store.getters["role/roles"];
    });
   
    onMounted(async () => {
      await store.dispatch("role/getAllRoles").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    }); 

    async function RowRemoved(e) {
      await store
        .dispatch("role/deleteRole", e.data.id)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

    async function RowUpdate(e) {
      await store
        .dispatch("role/updateRole", e.data)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

    async function RowInserted(e) {
      await store
        .dispatch("role/createRole", e.data)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }
      
    return {
      rolesList,
      RowRemoved,
      RowUpdate,
      RowInserted 
    };
  }
};
</script>
