<template>
  <div id="form-demo">
    <div class="widget-container">
      <form action="your-action" @submit="onSubmit">
        <DxForm :form-data="formData" :read-only="!editMode" :show-colon-after-label="true"
          :show-validation-summary="false" validation-group="customerData">

          <DxSimpleItem data-field="position">
            <DxLabel text="Позиция" />
            <DxRequiredRule message="Необходимо ввести название позиции" />
          </DxSimpleItem>

          <DxItem data-field="employmentDate" editor-type="dxDateBox" format="dd/MM/yyyy">
            <DxLabel text="Дата выхода на работу" />
            <DxRequiredRule message="Необходимо ввести дату" />
          </DxItem>

          <DxSimpleItem data-field="cityId">
            <DxLabel text="Выберите город" />
            <DxRequiredRule message="Необходимо выбрать город" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="citiesList"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.cityId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="departmentId">
            <DxLabel text="Выберите отдел" />
            <DxRequiredRule message="Необходимо выбрать Отдел" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="departmentsList"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.departmentId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="divisionId">
            <DxLabel text="Выберите Департамент" />
            <DxRequiredRule message="Необходимо выбрать дивизион" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="divisionsList"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.divisionId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="lineManagerId">
            <DxLabel text="Выберите непосредственного руководителя" />
            <DxRequiredRule message="Необходимо выбрать непосредственного руководителя" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="lineManagersList"
              :hide-selected-items="true" :displayExpr="getFIO" valueExpr="id" v-model:value="formData.lineManagerId" />
          </DxSimpleItem>

          <DxSimpleItem data-field="laborContract">
            <DxLabel text="Выберите вид трудового договора" />
            <DxRequiredRule message="Необходимо выбрать вид трудового договора" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="laborContracts"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.laborContract" />
          </DxSimpleItem>

          <DxSimpleItem data-field="openReason">
            <DxLabel text="Выберите причину открытия вакансии" />
            <DxRequiredRule message="Необходимо выбрать причину открытия вакансии" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="openReasons"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.openReason" />
          </DxSimpleItem>
          
          <DxSimpleItem data-field="education">
            <DxLabel text="Выберите образование" />
            <DxRequiredRule message="Необходимо выбрать образование" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="educations"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.education" />
          </DxSimpleItem>
          
          <DxSimpleItem data-field="englishProficiency">
            <DxLabel text="Выберите уровень английского языка" />
            <DxRequiredRule message="Необходимо выбрать уровень английского языка" />
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="englishProficiencies"
              :hide-selected-items="true" displayExpr="name" valueExpr="id"
              v-model:value="formData.englishProficiency" />
          </DxSimpleItem>
          
          <DxSimpleItem data-field="otherKnowledge">
            <DxLabel text="Другие знания" />
            <DxRequiredRule message="Необходимо заполнить поле" />
          </DxSimpleItem>

          <DxSimpleItem data-field="salary">
            <DxLabel text="Зарплата" />
            <DxNumberBox v-model:value="formData.salary" :read-only="!editMode"/>
            <DxRequiredRule message="Необходимо ввести зарплату" />
          </DxSimpleItem>

          <DxSimpleItem data-field="benefitIds">
            <DxLabel text="Выберите льготы" />
            <DxTagBox :items="benefitsList" value-expr="id" display-expr="name" :search-enabled="true"
              :max-displayed-tags="5" v-model:value="formData.benefitIds" :read-only="!editMode" />
          </DxSimpleItem>

          <DxSimpleItem data-field="statusApplication">
            <DxLabel text="статус заявки" />            
            <DxSelectBox :search-enabled="true" :read-only="!editMode" :dataSource="statusApplications"
              :hide-selected-items="true" displayExpr="name" valueExpr="id" v-model:value="formData.statusApplication" />
          </DxSimpleItem>

          <DxButtonItem :button-options="buttonOptions" horizontal-alignment="left" v-model:visible="createButton" />
        </DxForm>
        <DxButton class="editButton" v-model:text="textEdit" icon="edit" type="success" @click="startUpdateApplication"
          width="100%" v-model:visible="editButton" />
        <DxButton class="saveButton" text="Сохранить" v-model:disabled="buttonDisabled" type="success" icon="save"
          @click="updateApplication" width="100%" v-model:visible="editButton" /> 
        <DxButton class="editButton" text="Создать вакансию" icon="edit" type="success" 
          @click="createVacancy" width="100%" v-model:visible="showStatusbtn"/> 
        <DxButton class="add-application" text="Отклонить" icon="clear" type="danger" @click="reject"
          width="100%" v-model:visible="showStatusbtn"/>  
          <p> </p> 
        <DxButton class="add-application" text="Назад" icon="revert" type="default" @click="cancelButton($event)"
          width="100%" />    

      </form>
    </div>
  </div>
</template>
<script>
import DxForm, {
  DxSimpleItem,
  DxItem,
  DxButtonItem,
  DxLabel,
  DxRequiredRule,
} from 'devextreme-vue/form';
import notify from 'devextreme/ui/notify';
import { ref, onMounted, computed } from 'vue';
import { useStore } from "vuex";
import { DxTagBox } from 'devextreme-vue/tag-box';
import { DxSelectBox } from 'devextreme-vue/select-box';
import { useRoute, useRouter } from "vue-router";
import { DxButton } from 'devextreme-vue/button'
import { DxNumberBox } from 'devextreme-vue/number-box';

const sendRequest = function (value) {
  const validEmail = 'test@dx-email.com';
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve(value === validEmail);
    }, 1000);
  });
};

export default {
  components: {
    DxSimpleItem,
    DxButtonItem,
    DxLabel,
    DxRequiredRule,
    DxForm,
    DxTagBox,
    DxSelectBox,
    DxButton,
    DxItem,
    DxNumberBox
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const route = useRoute();
    const id = ref(route.params.id);
    const editMode = ref(false);
    const createButton = ref(false);
    const editButton = ref(false);
    const buttonDisabled = ref(true);
    const showStatusbtn = ref(true);
    const textEdit = ref("Редактировать");

    const educations = [
      { name: "Релевантное высшее", id: 1 },
      { name: "Высшее", id: 2 },
      { name: "Среднее-специальное", id: 3 },
      { name: "Не имеет значения", id: 4 }];

    const openReasons = [
      { name: "Замена сотрудника", id: 1 },
      { name: "Замена декретницы", id: 2 },
      { name: "Новая позиция", id: 3 }];

    const laborContracts = [
      { name: "Постоянный", id: 1 },
      { name: "Временный", id: 2 }];

    const englishProficiencies = [
      { name: "Элементарный", id: 1 },
      { name: "Средний", id: 2 },
      { name: "Выше среднего", id: 3 },
      { name: "Продвинутый", id: 4 },
      { name: "В совершенстве", id: 5 }];

    const statusApplications = [
      { name: "Новая", id: 1 },
      { name: "Отклонено", id: 2 },    
      { name: "Утверждено", id: 3 }];

    const formData = ref({});
    const formDataInitial = computed(() => {
      return store.getters["application/application"];
    });

    async function onSubmit() {
      try {
        formData.value.companyId = user.value.companyId;
        await store.dispatch('application/createApplication', formData.value);
        notify("Заявка создана успешно", "success", 2000);
      } catch (error) {
        notify(error.message, "error", 2000);
      }
    }

    onMounted(async () => {
      if (route.name == "createApplication") {
        createButton.value = true;
        editMode.value = true;
        showStatusbtn.value = false;
      }
      else {
        await store.dispatch("application/getApplication", id.value);
        formData.value = { ...formDataInitial.value };
        showStatusbtn.value = formData.value.statusApplication === 1;
        formData.value.benefitIds = formData.value.benefitIds.map(u => u.id);
        editButton.value = true;
        editMode.value = false;
      }
      await store.dispatch("city/getCitiesByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("division/getDivisionsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("department/getDepartmentsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("user/getUsersByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("benefit/getBenefitsByCompanyId", user.value.companyId).catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    });

    async function startUpdateApplication() {
      if (editMode.value == true) {
        editMode.value = false;
        buttonDisabled.value = true;
        textEdit.value = "Редактировать";
        formData.value = { ...formDataInitial.value };
      }
      else {
        editMode.value = true;
        buttonDisabled.value = false;
        textEdit.value = "Отменить";
      }
    }
      
    async function createVacancy() {     
        formData.value.statusApplication = 3;
        showStatusbtn.value = false;
        await store.dispatch("vacancy/createVacancyFromApp", formData.value);

        var newVacancy = store.getters["vacancy/vacancy"];
        if(newVacancy != null){
          router.push({
         path: "/vacancy/view/" + newVacancy.id,
        });
        }
    }

    function reject() {
      formData.value.statusApplication = 2;
      showStatusbtn.value = false;
      editMode.value = true;
    }
    
    async function updateApplication() {
      await store.dispatch("application/updateApplication", formData.value);
      formData.value = { ...formDataInitial.value };
      formData.value.benefitIds = formData.value.benefitIds.map(u => u.id);
      editMode.value = false;
      buttonDisabled.value = true;
      textEdit.value = "Редактировать";
    }

    const user = computed(() => {
      return store.getters["auth/getUser"];
    });

    const citiesList = computed(() => {
      return store.getters["city/citiesByCompanyId"];
    });

    const divisionsList = computed(() => {
      return store.getters["division/divisionsByCompanyId"];
    });

    const departmentsList = computed(() => {
      return store.getters["department/departmentsByCompanyId"];
    });

    const lineManagersList = computed(() => {
      return store.getters["user/usersByCompanyId"];
    })

    const benefitsList = computed(() => {
      return store.getters["benefit/benefitsByCompanyId"];
    });

    const buttonOptions = {
      text: 'Создать',
      type: 'success',
      useSubmitBehavior: true,
      icon: "add",
      width: "100%"
    }
    const hideEvent = { name: 'mouseout', delay: 2000 }
    let isTooltipVisible = ref(false);
    let maxItems = 1;

    return {
      formData,
      onSubmit,
      buttonOptions,
      hideEvent,
      isTooltipVisible,
      maxItems,
      editMode,
      createButton,
      editButton,
      buttonDisabled,
      showStatusbtn,
      textEdit,
      citiesList,
      divisionsList,
      departmentsList,
      lineManagersList,
      benefitsList,
      startUpdateApplication,
      updateApplication,
      createVacancy,
      reject,
      educations,
      openReasons,
      laborContracts,
      englishProficiencies,
      statusApplications
    };
  },
  methods: {
    asyncValidation(params) {
      return sendRequest(params.value);
    },
    getFIO(item) {
      return item && item.firstName + " " + item.secondName;
    },
    cancelButton() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
form {
  margin: 10px;
}

.dx-field-value {
  width: 12px !important;
  margin-right: 5px;
}

.dx-field {
  margin: 0 !important;
}

.dx-fieldset {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.widget-container {
  margin: auto;
  width: 600px;
}

#form-demo {
  display: flex;
}

.editButton {
  margin-bottom: 10px;
  margin-top: 26px;
}

.saveButton {
  margin-bottom: 10px;
}
</style>

