<template>
  <div id="form-demo">
    <div class="widget-container">
      <form action="your-action" @submit="onSubmit">
        <DxForm v-model:form-data="formData" :read-only="!editMode" :show-colon-after-label="true"
          :show-validation-summary="false" validation-group="customerData">
          <DxGroupItem caption="Информация о пользователе">
            <DxSimpleItem data-field="email">
              <DxRequiredRule message="Необходимо ввести Email" />
              <DxEmailRule message="Некорректный Email" />
            </DxSimpleItem>
          </DxGroupItem>
          <DxGroupItem caption="Личные данные">
            <DxSimpleItem data-field="firstName">
              <DxLabel text="Имя" />
              <DxRequiredRule message="Необходимо ввести имя" />
            </DxSimpleItem>
            <DxSimpleItem data-field="secondName">
              <DxLabel text="Фамилия" />
              <DxRequiredRule message="Необходимо ввести фамилию" />
            </DxSimpleItem>
            <DxSimpleItem :editor-options="phoneEditorOptions" data-field="phone"
              help-text="Пожалуйста, введите номер телефона">
              <DxLabel text="Телефон" />
              <DxRequiredRule message="Необходимо ввести номер телефона" />
              <DxPatternRule :pattern="phonePattern" message="Некорректный номер телефона" />
            </DxSimpleItem>
          </DxGroupItem>
          <DxGroupItem caption="Сведения о компании">
            <DxSimpleItem data-field="companyId">
              <DxLabel text="Выберите компанию" />
              <DxRequiredRule message="Необходимо выбрать компанию" />
              <DxSelectBox :items="companiesList" value-expr="id" :display-expr="getDisplayExpr" :search-enabled="true"
                :search-expr="['bin', 'name']" :max-displayed-tags="5" v-model:value="formData.companyId"
                :read-only="!editMode" />
            </DxSimpleItem>
            <DxSimpleItem data-field="position">
              <DxLabel text="Должность" />
            </DxSimpleItem>
            <DxSimpleItem data-field="roleIds">
              <DxLabel text="Выберите роли" />
              <DxTagBox :items="rolesList" value-expr="id" display-expr="name" :search-enabled="true"
                :max-displayed-tags="5" v-model:value="formData.roleIds" :read-only="!editMode" />
            </DxSimpleItem>
          </DxGroupItem>
          <DxButtonItem :button-options="buttonOptions" horizontal-alignment="left" v-model:visible="createButton" />
        </DxForm>
        <DxButton class="editButton" v-model:text="textEdit" icon="edit" type="success" @click="StartUpdateUser"
          width="100%" v-model:visible="editButton" />
        <DxButton class="saveButton" text="Сохранить" v-model:disabled="buttonDisabled" type="success" icon="save"
          @click="UpdateUser" width="100%" v-model:visible="editButton" />
        <DxButton class="add-user" text="Назад" icon="revert" type="default" @click="cancelButton($event)"
          width="100%" />
      </form>
    </div>
  </div>
</template>
<script>
import DxForm, {
  DxGroupItem,
  DxSimpleItem,
  DxButtonItem,
  DxLabel,
  DxRequiredRule,
  DxPatternRule,
  DxEmailRule
} from 'devextreme-vue/form';
import notify from 'devextreme/ui/notify';
import { ref, onMounted, computed } from 'vue';
import { useStore } from "vuex";
import { DxTagBox } from 'devextreme-vue/tag-box';
import { DxSelectBox } from 'devextreme-vue/select-box';
import { useRoute } from "vue-router";
import { DxButton } from 'devextreme-vue/button'

const sendRequest = function (value) {
  const validEmail = 'test@dx-email.com';
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve(value === validEmail);
    }, 1000);
  });
};

export default {
  components: {
    DxGroupItem,
    DxSimpleItem,
    DxButtonItem,
    DxLabel,
    DxRequiredRule,
    DxPatternRule,
    DxEmailRule,
    DxForm,
    DxTagBox,
    DxSelectBox,
    DxButton
  },
  setup() {
    const store = useStore();
    const route = useRoute();
    const id = ref(route.params.id);
    const editMode = ref(false);
    const createButton = ref(false);
    const editButton = ref(false);
    const buttonDisabled = ref(true);
    const textEdit = ref("Редактировать");

    const formData = ref({});
    const formDataInitial = computed(() => {
      return store.getters["user/user"];
    });

    async function onSubmit() {
      const result = await store.dispatch('user/createNewUser', formData.value);
      if (!result.isOk) {
        notify(result.message, "error", 2000);
      } else {
        notify("Пользователь создан успешно", "success", 2000);
        this.$router.go(-1);
      }
    }

    const rolesList = computed(() => {
      return store.getters["role/roles"];
    });
    const companiesList = computed(() => {
      return store.getters["company/companies"];
    });

    onMounted(async () => {
      if (route.name == "createUser") {
        createButton.value = true;
        editMode.value = true;
      }
      else {
        await store.dispatch("user/getUser", id.value);
        formData.value = { ...formDataInitial.value };
        formData.value.roleIds = formData.value.roleIds.map(u => u.id);
        editButton.value = true;
      }
      await store.dispatch("role/getAllRoles").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
      await store.dispatch("company/getAllCompanies").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    });

    async function StartUpdateUser() {
      if (editMode.value == true) {
        editMode.value = false;
        buttonDisabled.value = true;
        textEdit.value = "Редактировать";
        formData.value = { ...formDataInitial.value };
      }
      else {
        editMode.value = true;
        buttonDisabled.value = false;
        textEdit.value = "Отменить";
      }
    }

    async function UpdateUser() {
      await store.dispatch("user/updateUser", formData.value);
      formData.value = { ...formDataInitial.value };
      formData.value.roleIds = formData.value.roleIds.map(u => u.id);
      editMode.value = false;
      buttonDisabled.value = true;
      textEdit.value = "Редактировать";
    }

    const buttonOptions = {
      text: 'Создать',
      type: 'success',
      useSubmitBehavior: true,
      icon: "add",
      width: "100%"
    }
    const phoneEditorOptions = {
      mask: '+7 (X00) 000-00-00',
      maskRules: {
        X: /[7, 9]/,
      },
      maskInvalidMessage: 'Некорректный номер телефона',
    }
    const phonePattern = /^[02-9]\d{9}$/;
    const hideEvent = { name: 'mouseout', delay: 2000 }
    let isTooltipVisible = ref(false);
    let maxItems = 1;

    return {
      formData,
      onSubmit,
      buttonOptions,
      phoneEditorOptions,
      phonePattern,
      hideEvent,
      isTooltipVisible,
      maxItems,
      rolesList,
      companiesList,
      editMode,
      createButton,
      editButton,
      buttonDisabled,
      textEdit,
      StartUpdateUser,
      UpdateUser
    };
  },
  methods: {
    asyncValidation(params) {
      return sendRequest(params.value);
    },
    getDisplayExpr(item) {
      return item && item.bin + ' ' + item.name;
    },
    cancelButton() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
form {
  margin: 10px;
}

.dx-field-value {
  width: 12px !important;
  margin-right: 5px;
}

.dx-field {
  margin: 0 !important;
}

.dx-fieldset {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.widget-container {
  margin: auto;
  width: 600px;
}

#form-demo {
  display: flex;
}

.editButton {
  margin-bottom: 10px;
  margin-top: 26px;
}

.saveButton {
  margin-bottom: 10px;
}
</style>