<template>
  <div class="content-block">
    <DxButton class="add-user" text="Добавить пользователя" type="default" @click="onClick($event)"></DxButton>

    <DxDataGrid class="dx-card wide-card" :data-source="usersList" :focused-row-index="0" :show-borders="false"
      :column-auto-width="true" :column-hiding-enabled="true" @row-removed="RowRemoved" @row-click="viewRow">
      <DxEditing :allow-deleting="true" />
      <DxFilterRow :visible="false" />
      <DxSearchPanel :visible="true" width="300" placeholder="Поиск" />
      <DxColumn data-field="id" :allow-editing="false" caption="Id" sortOrder="asc" width="100" />
      <DxColumn data-field="email" caption="Email">
        <DxRequiredRule />
        <DxEmailRule />
      </DxColumn>
      <DxColumn data-field="firstName" caption="Имя" />
      <DxColumn data-field="secondName" caption="Фамилия" />
      <DxColumn data-field="company.name" caption="Компания" />
      <DxColumn data-field="company.bin" caption="БИН" />
      <DxColumn data-field="position" caption="Должность" />
      <DxColumn data-field="phone" caption="Телефон" />
      <DxSelection show-check-boxes-mode="always" mode="multiple" />
      <DxPaging :page-size="10" />
      <DxPager :show-page-size-selector="true" :show-info="true" />
    </DxDataGrid>
  </div>
</template>

<script>
import {
  DxDataGrid,
  DxPager,
  DxPaging,
  DxSelection,
  DxColumn,
  DxRequiredRule,
  DxEmailRule,
  DxSearchPanel,
  DxFilterRow,

  DxEditing
} from "devextreme-vue/data-grid";
import notify from "devextreme/ui/notify";
import { useStore } from "vuex";
import { onMounted, computed } from "vue";
import DxButton from 'devextreme-vue/button';
import { useRouter } from "vue-router";

export default {
  components: {
    DxDataGrid,
    DxPager,
    DxPaging,
    DxSelection,
    DxColumn,
    DxRequiredRule,
    DxEmailRule,
    DxSearchPanel,
    DxFilterRow,
    DxEditing,
    DxButton
  },
  setup() {
    const store = useStore();
    const router = useRouter();

    const usersList = computed(() => {
      return store.getters["user/users"];
    });

    onMounted(async () => {
      await store.dispatch("user/getAllUsers").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    });

    async function RowRemoved(e) {
      await store
        .dispatch("user/deleteUser", e.data.id)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

    function viewRow(e) {
      router.push({
        path: "/user/view/" + e.data.id
      });
    }

    return {
      usersList,
      RowRemoved,
      viewRow
    };
  },
  methods: {
    onClick() {
      this.$router.push("/user/create/");
    },
    capitalize(text) {
      return text.charAt(0).toUpperCase() + text.slice(1);
    },
  }
};
</script>
<style scoped>
.add-user {
  margin-bottom: 5px;
}
</style>