<template>
  <div class="content-block">
    <DxDataGrid
      class="dx-card wide-card"
      :data-source="companiesList"
      :focused-row-index="0"
      :show-borders="false"
      :column-auto-width="true"
      :column-hiding-enabled="true"
      @row-removed="RowRemoved"
      @row-updated="RowUpdate"
      @row-inserted="RowInserted"
    >
       <DxEditing
            :allow-updating="true"
            :allow-adding="true"
            :allow-deleting="true"
            mode="popup" >
       <DxPopup
          :show-title="true"
          :width="500"
          :height="500"
          title="Организация"
        />
         <DxForm>
          <DxItem
            :col-count="2"
            :col-span="2"
            item-type="group"
          >
            <DxItem data-field="name" :col-span="2">
              <DxRequiredRule message="Необходимо ввести название компании" />
            </DxItem>
            <DxItem :editor-options="binEditorOptions" data-field="bin">   
               <DxRequiredRule message="Необходимо ввести БИН \ ИИН" />
            </DxItem>      
          </DxItem>
        </DxForm>
       </DxEditing>
      <DxFilterRow :visible="false" />
      <DxSearchPanel :visible="true" width="300" placeholder="Поиск"/>
      <DxColumn
        data-field="id"
        :allow-editing="false"
        caption="Id"
        sortOrder="asc"
        width="100"
      />
      
      <DxColumn data-field="name" caption="Название организации" />
      <DxColumn data-field="bin" caption="БИН/ИИН организации" />         
      <DxSelection show-check-boxes-mode="always" mode="multiple" />
      <DxPaging :page-size="10" />
      <DxPager :show-page-size-selector="true" :show-info="true" />
    </DxDataGrid>
  </div>
</template>

<script>
import {
  DxDataGrid,
  DxPager,
  DxPaging,
  DxSelection,
  DxColumn,
  DxSearchPanel,
  DxFilterRow,
  DxEditing,
  DxPopup,
  DxForm,
  DxItem,
  DxRequiredRule
} from "devextreme-vue/data-grid";
import notify from "devextreme/ui/notify";
import { useStore } from "vuex";
import { onMounted, computed } from "vue";


export default {
  components: {
    DxDataGrid,
    DxPager,
    DxPaging,
    DxSelection,
    DxColumn,
    DxSearchPanel,
    DxFilterRow,
    DxEditing,
    DxPopup,
    DxForm,
    DxItem,
    DxRequiredRule
  },
  setup() {
    const store = useStore();
  

    const companiesList = computed(() => {
      return store.getters["company/companies"];
    });
   
    onMounted(async () => {
      await store.dispatch("company/getAllCompanies").catch((error) => {
        notify(error.data.message, "error", 2000);
      });
    }); 

    async function RowRemoved(e) {
      await store
        .dispatch("company/deleteCompany", e.data.id)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

    async function RowUpdate(e) {
      await store
        .dispatch("company/updateCompany", e.data)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

    async function RowInserted(e) {
      await store
        .dispatch("company/createCompany", e.data)
        .catch((error) => {
          notify(error.data, "error", 2000);
        });
    }

     const binEditorOptions = {
        mask: '000000000000',
        maskRules: {
          X: /[0,1,2,3,4,5,6,7,8,9]/,
        },
        maskInvalidMessage: 'Некорректный БИН',
      }
      
    return {
      companiesList,
      binEditorOptions,
      RowRemoved,
      RowUpdate,
      RowInserted 
    };
  }
};
</script>
